<div class="medium-3 medium-centered columns index-login-text">
	<h2>Log In</h2>
</div>
<div class="large-6 large-centered columns   index-login">
  <%= form_for :session, url: sessions_path do %>

    <%= label_tag "Email" %>
    <%= text_field_tag "user[email]" %>

    <%= label_tag "Password" %>
    <%= password_field_tag "user[password]" %>
    <%= submit_tag "Log in" %>
  <%end%>
</div>

