<%= form_for(@choir_member) do |f| %>
  <% if @choir_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choir_member.errors.count, "error") %> prohibited this choir_member from being saved:</h2>

      <ul>
      <% @choir_member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :voice %><br>
    <%= f.text_field :voice %>
  </div>
  <div class="field">
    <%= f.label :side %><br>
    <%= f.text_field :side %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
