<p id="notice"><%= notice %></p>
<div class="large-6 large-centered columns">


    <div class="row">
        <div class="small-9  choir-member-index ">
          Fist Name | Last Name | Voice | side </div>
      </div>

    <% @choir_members.each do |choir_member| %>
      <div class="row">
        <div class="small-9  choir-member-index ">
          <%= choir_member.first_name %> | <%= choir_member.last_name %> | <%= choir_member.voice %> | <%= choir_member.side %> </div>

      </div>



    <% end %>



</div>

<%= link_to 'New Choir member', new_user_choir_choir_member_path(1,1) %>
