<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @choir_member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @choir_member.last_name %>
</p>

<p>
  <strong>Voice:</strong>
  <%= @choir_member.voice %>
</p>

<p>
  <strong>Side:</strong>
  <%= @choir_member.side %>
</p>

<%= link_to 'Edit', edit_choir_member_path(@choir_member) %> |
<%= link_to 'Back', choir_members_path %>
