<h2 class="choir-attendance-index-header">Members Attendance</h2>
<% @members_attendees.each do |choir_member_attendee| %>
	<div class="row" id="<%= choir_member_attendee.id%>">
		<div class="center-div small-6 small-centered columns">
	    <div class="columns choir-attendance-index">
	     	<%= find_choir_member(choir_member_attendee.choir_member_id).first_name %> <%= find_choir_member(choir_member_attendee.choir_member_id).last_name %> 

	    <% if choir_member_attendee.points == nil %>
				<%= link_to "<i class='fa fa-times fa-lg'></i>".html_safe, edit_user_choir_choir_member_attendee_path(current_user.id, @choir.id, choir_member_attendee.choir_member_id, choir_member_attendee.id), class: "att-option-div-absent" , id: "#{choir_member_attendee.id}" %>

				<%= link_to "<i class='fa fa-clock-o fa-lg'></i>".html_safe, edit_user_choir_choir_member_attendee_path(current_user.id, @choir.id, choir_member_attendee.choir_member_id, choir_member_attendee.id), class: "att-option-div-late" , id: "#{choir_member_attendee.id}" %>

				<%= link_to "<i class='fa fa-check fa-lg'></i></a>".html_safe, edit_user_choir_choir_member_attendee_path(current_user.id, @choir.id, choir_member_attendee.choir_member_id, choir_member_attendee.id), class: "att-option-div" , id: "#{choir_member_attendee.id}" %>
			<%else%>
				<%= member_marked_points(choir_member_attendee.points).html_safe %>
			<%end%>
	    </div>
	  </div>
	</div>
<% end %>		

